#### Comments are the line that exist in computer programs that are ignored by compilers and interpreters.
#### Including comments in program makes code more readable for humans as it provide some information or explationation 
#### about what each part of program is doing.
#### In general it is a good idea to write comments while you are writing or updating as it is easy to forget your thought process 
#### later on, and comments written later may be less useful in the long term.

#### In python we use (#) symbol to write a comment.

In [2]:
# print hello world to console
print("Hello World")

Hello World

# Multi Line comments in Python

#### If we have comments that extend mutliple line, one way of doing is to use (#) in the beginning of each line

In [3]:
# This is the long comment
# It extend
# Multiple line

#### Another way of writing comments is to use triple quotes either (' ' ') or (" " ")

In [5]:
""" This is also
    perfect example
    of multi-line comments"""

' This is also\n    perfect example\n    of multi line comments'

#  Python Indentation
* Most of the languages like c,c++,java uses braces {} to define a block of code.But python uses indentation
* A code block (body of function,loop etc) starts with indentation and ends with the first unindented line.The amount of 
* indentation is upto you but it must be consistent throughout the block.
* Generally four whitespaces are used for indentation and is prefered over tabs.

In [10]:
for i in range(10):
    print(2*i)
    print(i)
print(100)

0
0
2
1
4
2
6
3
8
4
10
5
12
6
14
7
16
8
18
9
100

#### Indentation can be ignored in the line continuation.But its good idea to always indent.It makes the code more readable

In [11]:
if True:
    print("Machine Learning")
    c="AAIC"

Machine Learning

In [14]:
if True: print("Machine Learning"); c="AAIC"

Machine Learning

# Python Statement
* Instruction that a Python interpreter can execute are called statements.

In [15]:
a=1 #Single statement

# Mutltiple-Line Statement
* In Python, end of a statement is marked by a newline character.But we can make a statement extends over multiple lines 
  with the line continuation character ().

In [16]:
a=1+2+3+\
  4+5+6+\
  7+8

In [17]:
a

36

In [18]:
#Another way is to use paranthesis
a=(1+2+3+
   4+5+6+
   7+8)

In [19]:
a

36

In [20]:
a=10;b=20;c=30 # use multiple statement in a single line using ;

In [21]:
a

10

In [22]:
b

20

In [23]:
c

30

# Variables
* A variable is a location in memory used to store some data(value).
* They are given unique names to differentiate between different memory locations.The rules for writing a variable names is same as the rules for writing identifiers in Python.
* We don't need to declare a variable before using it in Python we simply assign a value to a variable and it will exit.We don't even have to declare the type of the variable.This is handled internally according to the type of value we assign to the variable.

In [24]:
# We use assignment operator (=) to assign values to a variable.
a=10
b=5.5
c='ML'

# Multiple Assignment

In [25]:
a,b,c=10,5.5,'ML'

In [26]:
a=b=c='ML' # Assign the same value to multiple variables at once.

# Storage Locations

In [27]:
x=3
print(id(x))                         # print address of variable x

140717240521600

In [28]:
y=3
print(id(y))                        # print address of variable y

140717240521600

#### Observation:
   * x and y points to same memory location

# Data Types

#### Every value in python has a datatype since everything is an object in python programming. Datatypes are actyally classes and variables are instance(object) of these classes.

# Numbers

#### Integers,floating point numbers and complex numbers falls under python number category.They are defined as int,float,and complex class in python
#### We can use a type function to know which class a variable or a value belongs to and the isinstance() function to check if an object belongs to a particular class.

In [29]:
a=5
print(a,"is of type",type(a))

5 is of type <class 'int'>

In [30]:
a=2.5
print(a,"is of type",type(a))

2.5 is of type <class 'float'>

In [33]:
a=1+2j
print(a,"is complex number")

(1+2j) is complex number

In [34]:
type(a)

complex

In [37]:
print(isinstance(i+2j,complex))

True

In [38]:
print(type(a))

<class 'complex'>

# Boolean

#### Boolean represents the truth values True and False

In [39]:
a=True
print(type(a))

<class 'bool'>

# Python Strings

#### String is sequence of unicode characters.
#### We can use single quotes and dobble quotes to represent strings.
#### Multi-line string is represented using triple quotes ' ' ' or " " ".
#### A String in Python consists of a series or sequence of characters,letters,numbers,and special characters.
#### String can be indexed - often synonymously called subscripted as well.
#### Similar to C,the first character of a string has the index 0

In [40]:
a="""This is online AI 
   course"""

In [41]:
a

'This is online AI \n   course'

In [42]:
print(type(a))

<class 'str'>

In [44]:
print(a[0])

T

In [45]:
print(len(a)-1)

27

In [46]:
# Slicing
a[5:]

'is online AI \n   course'

# Python List

#### List is an ordered sequence of items.It is one of the most used datatype in python and is very flexible.All the items in the list do not need to be of same type.
#### Declaring a list is,items separated by commas are enclosed within brackets [ ].

In [47]:
a=[10,20.5,"Hello"]
a

[10, 20.5, 'Hello']

#### Lists are mutable means value of elements of list can be altered

In [48]:
a[0]=13.7

In [49]:
print(a)

[13.7, 20.5, 'Hello']

# Python Tuple

#### Tuple is an ordered sequence of items same as list.The only difference is that tuples are immutable tuples once created can't be altered or modified.

In [50]:
t=(1,1.5,'ML')
t

(1, 1.5, 'ML')

In [51]:
type(t)

tuple

In [52]:
t[1]=1.25 # it will throw an error because tuples are immutable

TypeError: 'tuple' object does not support item assignment

# Python Set

#### Set is an unordered collection of unique items.Set is defined by values separated by comma inside braces {} items in set are not ordered.

In [54]:
a={10,20,40,11}

In [55]:
a

{10, 11, 20, 40}

In [56]:
type(a)

set

# Python Dictionary

#### Dictionary is an unordered collection of key-value pairs.
#### In Python,dictionaries are defined within braces {} with each item being a pair in the form key-value.
#### Key and value can be of any type.

In [1]:
d={'a':"apple",'b':"bat"}

In [2]:
d

{'a': 'apple', 'b': 'bat'}

In [3]:
type(d)

dict

In [5]:
print(d['a'])

apple

# Conversion between Datatypes

#### We can convert between different data types by using different type conversion function like int(),float(),str() etc.

In [6]:
float(5)                                  # convert integer to float using float() method

5.0

In [8]:
int(10.5)                               # convert float to int using int() method

10

In [9]:
str(20)                                 # convert integer to string

'20'

In [10]:
user="Satish"
lines=100

In [13]:
print("Congratulations "+user+"! you just wrote "+str(lines)+" lines of code")

Congratulations Satish! you just wrote 100 lines of code

#### We can convert one sequence to other

In [14]:
a=[1,2,3]

In [15]:
print(type(a))

<class 'list'>

In [16]:
a=set(a)          # convert list to set using set() method

In [17]:
type(a)

set

In [18]:
list("Hello")        # convert string to list using list() method

['H', 'e', 'l', 'l', 'o']